<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="LocalDtoTransformer nuget" value="../DtoTransformer/DtoTransformer/bin/Debug/" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="LocalDtoTransformer nuget">
            <package pattern="Review" />
        </packageSource>
    </packageSourceMapping>
</configuration>